* {
    font-size: 13px;
}

.fixed-width {
    width: 300px;
}

.fixed-width .list-group-item {
    width: 100%;
    background-color: lightgray;
    margin: 5px;
    text-align: center;
}

.my-separator {
    border: none;
    height: 5px; 
    background-color: black; 
    margin: 20px 0; 
}

.currentCard {
    text-align: center;
}

.fiveDayTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; 
}


.fiveDayForecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fiveDayColor {
    flex: 1;
    text-align: center; 
    padding: 10px; 
}
