* {
    font-size: 13px;
}

/* Begin: Header */
header {
    background-image: linear-gradient(to right, rgb(85, 143, 143), #feb47b);
}
/* End: Header */


/* Begin: Search input and list of stored cities */
 .fixed-width {
    width: 100%;
}

.list-group-item {
    width: 100%;
    background-color: lightgray;
    margin: 5px;
    text-align: center;
} 

.my-separator {
    border: none;
    height: 5px; 
    background-color: black; 
    margin: 20px 0; 
}
/* End: Search input and list of stored cities */


/* Begin: Returned Current and 5-day forecasts */
.hidden-border {
    border: 0 !important; /* This will override Bootstrap's styles */
}

.currentCard {
    text-align: center;
}

.fiveDayTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; 
}

.fiveDayIndivCard {
    flex: 1;
    text-align: center; 
    padding: 10px; 
}
/* End: Returned Current and 5-day forecasts */